*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

section {
	display: flex;
	display: --webkit-flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #010101;
	animation: animateBg 10s linear infinite;
}

/* 变色动画 */
@keyframes animateBg {
	0% {
		/* css3 filter: hue-rotate(); 色相旋转
		 */
		filter: hue-rotate(0deg);
		--webkit-filter: hue-rotate(0deg);
	} 100% {
		filter: hue-rotate(360deg);
		--webkit-filter: hue-rotate(360deg);
	}
}

section .loader {
	position: relative;
	width: 120px;
	height: 120px;
}

section .loader span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* 涉及到 css 变量 */
	transform: rotate(calc(18deg * var(--i)));
}
section .loader span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #00ff0a;
	/* 实现多重阴影 */
	box-shadow: 0 0 10px #00ff0a,
				0 0 20px #00ff0a,
				0 0 40px #00ff0a,
				0 0 80px #00ff0a,
				0 0 100px #00ff0a;

	animation: animate 2s linear infinite;	
	/* 设置不同的延迟时间 实现loading效果
		0.1s 0.2s 效果不同
	 */
	animation-delay: calc(0.1s * var(--i));	
}

/* 闪烁动画 */
@keyframes animate {
	0% {
		transform: scale(1);
	} 80%, 100% {
		transform: scale(0);
	} 
}
